.modal {
  padding: 0;
  border: 0;
  position: relative;
  border-radius: 20px;
  position: fixed;
  box-shadow: #0000001a 0 0 0.5rem 0.25rem;
  border: 1px solid #cccccc;
  overflow: visible;
  transition: height 0.5s; 

  a {
    color: var(--primary-color);
  }
}

.modal::backdrop {
  background: #00000080;
}

.modalOverlay {
  padding: 40px 45px;
  border: 0;
  border-radius: 20px;
}

.modalCloseButton {
  font-size: 0.75em;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;

  svg {
    g {
      fill: var(--primary-color);
    }
  }
}

.modalCloseButton:focus {
  outline: none;
}


@media (max-width: 480px) {
  .modalOverlay {
    padding: 40px 20px;
  }
}
