.contacts {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;

  @media screen and (max-width: 480px) {
    justify-content: end;
  }
}

.contactsList {
  font-size: 1.6rem;
  line-height: 1.55;
  font-weight: 600;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 480px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}

.contactsListItem {
  display: flex;
  align-items: center;
  line-height: 25px;
}

.contactsListLink {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;

  svg {
    height: 20px;
  }
}

.address {
  display: flex;
  align-items: center;

  svg {
    width: 16px;
    height: 24px;
  }

  p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 23px;
    margin-left: 12px;
  }
}

@media screen and (max-width: 480px) {
  .addressHeader {
    display: none;
    justify-content: end;
  }
}
