.dataWidget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  gap: 10px;
}

.dataWidget.filled {
  background: var(--primary-color-gradient);
  color: var(--white);
}

.dataWidgetLayout {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
}

.dataWidgetIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:  60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--primary-color-gradient);

  svg {
    width: 35px;
    height: 35px;
  }
}

.dataWidgetIcon.filled {
  background: none;
}

.dataWidgetContent {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 5px;
  height: 100%;
}

.dataWidgetTitle {
  font-size: 2.0rem;
  font-weight: 400;
}

.dataWidgetContentData {
  line-height: 25px;

  span {
    font-size: 1.6rem;
    font-weight: 400;
  }

  h4 {
    text-align: right;
    width: 100%;
    font-size: 2.4rem;
  }
}
