.dataWidget {
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  gap: 7px;
}

.dataWidgetIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: var(--primary-color-gradient);
  

  svg {
    width: 40px;
    height: 40px;
  }
}

.dataWidgetTitle {
  font-size: 2.0rem;
  font-weight: 400;
}

.dataWidgetDataContainer {
  line-height: 30px;

  span {
    font-size: 1.6rem;
    font-weight: 400;
  }

  h4 {
    font-size: 2.4rem;
  }
}