.footer {
  width: 100%;
  color: var(--white);
  background-color: var(--secondary-color);
}

.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding: 40px 20px;

  @media screen and (max-width: 480px) {
    padding: 20px 10px;
  }
}

.footerIcon {
  min-width: 195px;
  height: 100%;
}