.footer {
  width: 100%;
  color: var(--white);
  background-color: var(--secondary-color);
}

.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--wrapper-width);
  margin: 0 auto;
  padding: 40px 20px;
}