.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  height: 40px;
  width: 100%;
  color: var(--white);
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:disabled {
  cursor: auto;
  background-color: var(--white);
  color: var(--disabled-button-color);
  border: 1px solid var(--disabled-button-color);
}

@media (hover:hover) {
  .button:hover:not(:disabled) {
    box-shadow: none;
    color: var(--white);
    transition: all 0.5s;
    border: 1px solid var(--primary-color-hover);
    background-color: var(--primary-color-hover);
  }
}

.secondary {
  background-color: var(--white);
  color: var(--primary-color);
}