.resultsAndSubmission {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.results {
  tr {
    margin-bottom: 5px;
  }

  th {
    font-weight: 400;
    text-align: right;
    padding-right: 10px;
  }

  td {
    min-width: 115px;
  }
}

.submission {
  display: flex;
  min-width: 270px;
  flex-direction: column;
  gap: 10px;
}