@import url('app/styles/font.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --primary-color: #05bb75;
  --secondary-color: #222d50;
  --primary-text-color: #2b3140;
  --background-color: #f6f8fe;

  --wrapper-width: 1160px;

  --header-shadow: 0px 2px 10px 0px #4f4f4f1a;
}

body,
html,
#root {
  margin: 0;
  height: 100%;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
  line-height: 100%;
}

h3 {
  font-size: 2.4rem;
}