@import url('app/styles/font.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  color-scheme: only light;

  --white: #ffffff;
  --primary-color: #05bb75;
  --primary-color-hover: #02935b;
  --secondary-color: #222d50;
  --primary-text-color: #2b3140;
  --disabled-button-color: #a3a3a3;
  --background-color: #f6f8fe;
  --background-color-select: #ebf0f6;
  --primary-color-gradient: linear-gradient(to bottom left, #63f7b0, #05bb75);
  --data-picker-border-color: #61646c32;
  --data-picker-weekend-background-color: #05bb7545;

  --wrapper-width: 1200px;

  --header-shadow: 0px 2px 10px 0px #4f4f4f1a;

  --select-color-hover: #0000001a;
  --select-color-is-selected: #05bb7572;

  --input-color-border: #c9c9c9;
  --input-color-invalid: #f95d51;

  --border-radius: 20px;

  --paragraph-mb: 10px;

  --h3-mb: 15px;

}

body,
html,
#root {
  margin: 0;
  height: 100%;
  font-family: 'Mulish', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: var(--primary-text-color);
  background: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
  line-height: 100%;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}