@font-face {
  font-family: 'Gilroy';
  src: url('shared/assets/fonts/Gilroy-Regular.eot');
  src: url('shared/assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('shared/assets/fonts/Gilroy-Regular.woff') format('woff'),
  url('shared/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('shared/assets/fonts/Gilroy-Bold.eot');
  src: url('shared/assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('shared/assets/fonts/Gilroy-Bold.woff') format('woff'),
  url('shared/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --primary-color: #05bb75;
  --secondary-color: #222d50;
  --primary-text-color: #2b3140;
  --background-color: #f6f8fe;

  --wrapper-width: 1160px;

  --header-shadow: 0px 2px 10px 0px #4f4f4f1a;
}

body,
html,
#root {
  margin: 0;
  height: 100%;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 2.4rem;
}