.radioStationDataWidget {
  display: flex;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.DataWidget1 {
  flex: 0 0 30%
}

.outerWidgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  flex: 1;
}

.outerWidgets > div {
  flex: 1;
}

@media (max-width: 740px) {
  .DataWidget1 {
    flex: 0 0 100%
  }
}